<div class="container">
            <div class="card-body">
        
                <form class="row generic-form" #LoginForm="ngForm" name="LoginForm"
                (ngSubmit)="onSubmitLoginForm(LoginForm)" novalidate="novalidate">
                    <input ngModel #username="ngModel" name="username" class="input-field" type="text" placeholder="username">
                    <input  ngModel #password="ngModel" name="password" class="input-field" type="password" placeholder="Password">
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-primary">Login</button>
                    </div>
                
                </form>
        
        
        
                </div>

</div>
